# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  debug:
    # This is just a debug job for assorted github vars I am using
    runs-on: ubuntu-latest
    steps:
      - name: GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: echo "$GITHUB_CONTEXT"
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flake8-version: ['==3.9.2', '>=4.0.1']
        python-version: [3.6, 3.9, '3.10']
        pytest-version: ['>=6.0,<6.1', '>=6.1,<6.2', '>=6.2,<7', '==7.0.0rc1']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions
      - name: Test with tox
        env:
          FLAKE8_VERSION_SPEC: ${{ matrix.flake8-version }}
          PYTEST_VERSION_SPEC: ${{ matrix.pytest-version }}
        run: tox